*
!*.*
!.gitignore
!*/
config.json
config.ini
config.yaml
.vscode
.history
.idea
.build
![Mm]akefile
.idea/
.DS_Store
*.log
![Dd]ockerfile
**/cmd/**/docker/artifact
**/docker/artifact
**/docker/**/artifact
!application/commcount/docker/artifact
build/
.vscode/
*.so
*.a
*.o
*.d
*.xml
!WORKSPACE
!BUILD
.xac
